@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.text-black {
  color: #000000;
}

.current-color{
  color: #744BFC;
}

a {
  font-weight: 500;
  color: #744BFC;
  text-decoration: inherit;
}
a:hover {
  color: #644BFC;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#search-button,
#add-button {
  background-color: #744BFC; /* Butonlara renk verme kodu */
  color: #FFFFFF;
  font-family: 'Poppins';
}
